
/* Products.css */
#carousel {
  height: 25rem;
}

.carousel-item {
  objectfit: cover;
  filter: brightness(30%);
  height: 40rem;
}

.cover-img {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url("../assets/images/header_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: #fff;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #f8f8f8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) scale(1.02); /* Scale up slightly */
}
.card-name{
  text-align: center;
}

