/* .row {
  background: linear-gradient(to bottom right, #ff9966, #ffcc99); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card {
  background-color: #fff;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #f8f8f8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) scale(1.02); 
} */
