#carousel {
  height: 25rem;
}

.carousel-item {
  objectfit: cover;
  filter: brightness(30%);
  height: 40rem;
}

.cover-img {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url("./assets/images/header_img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
